/* mobile  */
@media (max-width: 576px) {
	.container {
		max-width: 100%;
	}
}

/* Small */
@media (min-width: 577px) and (max-width: 768px) {
	.container {
		max-width: 540px;
	}
}

/* Medium */
@media (min-width: 769px) and (max-width: 992px) {
	.container {
		max-width: 720px;
	}
}

/* large */
@media (min-width: 993px) and (max-width: 1199px) {
	.container {
		max-width: 960px;
	}
}

/* extra large */
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
